*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Poppins,sans-serif;

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:linear-gradient(135deg,#ffd6e7,#ffeef5,#fff7fb);

    padding:25px;

}

.card{

    background:rgba(255,255,255,.9);

    backdrop-filter:blur(10px);

    width:100%;

    max-width:800px;

    padding:50px;

    border-radius:25px;

    text-align:center;

    box-shadow:0 20px 40px rgba(0,0,0,.15);

    animation:fade 1s ease;

}

h1{

    font-family:"Great Vibes",cursive;

    font-size:58px;

    color:#ff4f81;

    margin-bottom:30px;

}

.blessing{

    font-size:18px;

    color:#555;

    line-height:1.8;

    margin-bottom:45px;

}

.message{

    margin-bottom:45px;

}

h2{

    color:#ff4f81;

    margin-bottom:20px;

    font-weight:600;

}

.message p{

    font-size:18px;

    line-height:1.9;

    color:#444;

}

.button{

    display:inline-block;

    text-decoration:none;

    background:#ff4f81;

    color:white;

    padding:18px 40px;

    border-radius:50px;

    font-size:20px;

    font-weight:600;

    transition:.3s;

}

.button:hover{

    transform:translateY(-4px);

    background:#ff2d69;

}

@keyframes fade{

    from{

        opacity:0;

        transform:translateY(40px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}

@media(max-width:700px){

    .card{

        padding:30px;

    }

    h1{

        font-size:42px;

    }

    .blessing{

        font-size:16px;

    }

    .message p{

        font-size:16px;

    }

    .button{

        width:100%;

        font-size:18px;

    }

}